# Node modules
node_modules/

# Environment files
.env
.venv/
.myvenv/
myvenv/
# Python bytecodes
__pycache__/
*.pyc

# Operating system files
.DS_Store

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Dependency directories
venv/
myvenv/

# Build files
/dist/

# Lock files (optional, see note below)
package-lock.json
yarn.lock

requirements.txt