@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f3f3f3;
  width: 100vw;
}

nav {
  background-color: #05203c;
  padding: 20px;
  color: #fff;
  display: flex;
}

.search {
  background-color: #05203c;
  padding-bottom: 60px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  align-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100vw;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.search-area {
  display: flex;
  align-self: center;
  flex-direction: column;
}

span {
  font-size: 1.75rem;
  color: white;
  font-weight: bold;
  padding: 10px;
  background-color: #05203c;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  margin-right: 20px;
}

input {
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
  height: 20px;
}

button {
  padding: 1.1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #007bff;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 55px;
  width: fit-content;
  cursor: pointer;
}

h2 {
  font-weight: 700;
  margin: 10px;
  font-size: large;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  margin-left: 10px;
  margin-right: 20px;
  height: 55px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 12px;
}

li {
  border-radius: 12px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin-bottom: 5px;
}

.offer-card {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

p {
  border-bottom: #d5d5d5 solid 1px;
  margin-right: 5px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.offer-card {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.ship-card {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.ship-details {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.offer-item {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 20;
}

.flight-info {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 20;
}

.operator-card {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  }

.results {
  margin: 10vh;
}
label {
  color: white;
}

.order-form {
  position: fixed; /* Fixed positioning to make it stay in place even on scrolling */
  top: 50%; /* Position at half the height of the viewport */
  left: 50%; /* Position at half the width of the viewport */
  transform: translate(-50%, -50%); /* Shift the modal back by half its width and height to center it */
  width: 80%; /* Set the width as desired, here it's 80% of the viewport width */
  max-width: 600px; /* Maximum width of the modal */
  height: auto; /* Height based on content */
  padding: 20px; /* Padding inside the modal */
  background-color: white; /* Background color of the modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for 3D effect */
  z-index: 1000; /* Ensure it sits on top of other content */
  border-radius: 8px; /* Optional: rounded corners */
  overflow: auto; /* Enable scrolling within the modal if content is large */
}
