@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  width: 100vw;
}

nav {
  background-color: rgb(0, 59, 149);
  padding: 5px 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  height: 40px; /* Example height, adjust as needed */
  width: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Space between logo and text */
  vertical-align: middle; /* Align with the text */
  background-color: #ffffff;
  border-radius: 30px;
  padding: 5px;
}

.search-area {
  display: flex;
  align-self: center;
  background-color: rgb(0, 59, 149);
  flex-direction: column;
}
.search {
  background-color: rgb(0, 59, 149);
  padding-bottom: -20px;
  padding-top: 0px;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100vw;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

input {
  padding: 1rem;
  border: 5px solid rgb(255, 183, 0); /* Updated border color */
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: -30px;
  margin-top: 10px;
  font-size: 16px;
  height: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gray shadow */
}

span {
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
  padding: 10px;
  /* background-color: rgb(0, 59, 149); */
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  margin-right: 20px;
}

button {
  padding: 1.1rem 2rem;
  border: 5px solid rgb(255, 183, 0); /* Updated border color */
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #007bff;
  margin-bottom: -30px;
  margin-top: 10px;
  height: 63px;
  width: fit-content;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gray shadow */
}

button:hover {
  background-color: #006ae1;
}

h2 {
  font-weight: 700;
  margin: 10px;
  font-size: large;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto; /* Enables horizontal scrolling */
  width: 100%; /* Ensure the ul takes full width of its container */
  white-space: nowrap; /* Prevents wrapping of items */
  margin-top: 50px;
  min-height: 300px;
}

li {
  border-radius: 12px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  border-color: #d0d1d3;
  width: 600px; /* Fixed width */
  min-height: 420px;
  height: fit;
  margin-right: 5px; /* Add space between items */
  flex-shrink: 0; /* Prevents the items from shrinking */
}

li p {
  margin-bottom: 5px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 8px;
  padding: 7px;
  width: fit-content;
  font-size: 14px;
}

.offer-item {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d1d3;
  margin: 20px;
  background-color: white;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  padding-left: 20px; /* Corrected missing unit */
}

select {
  margin-left: 10px;
  margin-right: 20px;
  height: 60px;
  margin-bottom: -30px;
  margin-top: 10px;
  font-size: 12px;
  border: 5px solid rgb(255, 183, 0); /* Updated border color */
  border-radius: 10px;
}

.inspiration {
  padding-left: 60px;
  padding-top: 40px;
  background-color: rgb(247, 247, 247);
}

.inspiration-header {
  font-size: large;
  font-weight: 700;
}

.inspiration-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow-x: auto; /* Enables horizontal scrolling */
  width: 100%; /* Ensure the ul takes full width of its container */
  white-space: nowrap; /* Prevents wrapping of items */
  padding-left: 0; /* No padding on the left */
  margin-left: 0; /* No margin on the left */
}

.inspiration-item {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d1d3;
  margin-right: 20px;
  background-color: white;
  display: flex;
  width: 323px;
  height: 338px;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative; /* Set position to relative */
  overflow: hidden; /* Ensures nothing spills out, especially for rounded corners */
}

.inspiration-item img {
  position: absolute; /* Position the image absolutely within the li */
  top: 0;
  left: 0;
  width: calc(100% + 20px); /* Extend width to cover padding */
  height: calc(100% + 20px); /* Extend height to cover padding */
  object-fit: cover; /* Ensure the image covers the area without distorting */
}

footer {
  background-color: #282c34;
}

.offer-card {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

p {
  border-bottom: #d5d5d5 solid 1px;
  margin-right: 5px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.offer-card {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.vertical {
  background-color: rgb(39, 89, 163);
  color: white;
  align-self: center;
  font-weight: 600;
  padding: 10px 15px;
  border: 2px solid #fff; /* Thicker white border */
  border-radius: 50px;
  margin-bottom: 10px;
}

.ship-card {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.ship-details {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flight-info {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 20;
}

.operator-card {
  border-radius: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #282c34;
  min-width: 66%;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.results {
  margin: 10vh;
}
label {
  color: white;
}

.order-form {
  position: fixed; /* Fixed positioning to make it stay in place even on scrolling */
  top: 50%; /* Position at half the height of the viewport */
  left: 50%; /* Position at half the width of the viewport */
  transform: translate(
    -50%,
    -50%
  ); /* Shift the modal back by half its width and height to center it */
  width: 80%; /* Set the width as desired, here it's 80% of the viewport width */
  max-width: 600px; /* Maximum width of the modal */
  height: auto; /* Height based on content */
  padding: 20px; /* Padding inside the modal */
  background-color: white; /* Background color of the modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for 3D effect */
  z-index: 1000; /* Ensure it sits on top of other content */
  border-radius: 8px; /* Optional: rounded corners */
  overflow: auto; /* Enable scrolling within the modal if content is large */
}

.esim-order-list {
  position: fixed; /* Fixed positioning to make it stay in place even on scrolling */
  top: 50%; /* Position at half the height of the viewport */
  left: 50%; /* Position at half the width of the viewport */
  transform: translate(
    -50%,
    -50%
  ); /* Shift the modal back by half its width and height to center it */
  width: 80%; /* Set the width as desired, here it's 80% of the viewport width */
  max-width: 600px; /* Maximum width of the modal */
  height: auto; /* Height based on content */
  padding: 20px; /* Padding inside the modal */
  background-color: white; /* Background color of the modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for 3D effect */
  z-index: 1000; /* Ensure it sits on top of other content */
  border-radius: 8px; /* Optional: rounded corners */
  overflow: auto; /* Enable scrolling within the modal if content is large */
}

.passenger-details {
  position: fixed; /* Fixed positioning to make it stay in place even on scrolling */
  top: 50%; /* Position at half the height of the viewport */
  left: 50%; /* Position at half the width of the viewport */
  transform: translate(
    -50%,
    -50%
  ); /* Shift the modal back by half its width and height to center it */
  width: 80%; /* Set the width as desired, here it's 80% of the viewport width */
  max-width: 600px; /* Maximum width of the modal */
  height: auto; /* Height based on content */
  padding: 20px; /* Padding inside the modal */
  background-color: white; /* Background color of the modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for 3D effect */
  z-index: 1000; /* Ensure it sits on top of other content */
  border-radius: 8px; /* Optional: rounded corners */
  overflow: auto; /* Enable scrolling within the modal if content is large */
}
